.App {
  text-align: center;
}

.App-header a:link, .App-header a:visited,
.App-header a:hover, .App-header a:active {
	color: rgb(190, 246, 250);
}

.App-footer a:link, .App-footer a:visited,
.App-footer a:hover, .App-footer a:active {
	color: rgb(190, 246, 250);;
}

 a:link, a:visited,
 a:hover, a:active {
	text-decoration: none;
  color: #000;
}

.App-header {
  margin: 0 auto;
  background-color: #444;
  height: 150px;
  padding: 10px;
  color: white;
  min-width: 300px;
  max-width: 700px;
}

.App-header h1 {
  margin-top: 5px;
  margin-bottom: 2px;
  font-family: Courier, monospace;
  word-spacing: -.5em;
}

.App-footer {
  margin: 10px auto;
  background-color: #444;
  height: 40px;
  padding: 10px;
  color: white;
  min-width: 300px;
  max-width: 700px;
}

.fcc-title {
  font-size: .8em;
  font-weight: 100;
}

.project-title {
  font-size: 1.2em;
  font-weight: 100;
}

.App-intro {
  margin: 0 auto;
  max-width: 700px;
  min-width: 300px;
  margin-bottom: 10px;
}

.subtitle {
  margin-top: 2px;
  font: 1em Courier, monospace;
}

.github {
  text-align: right;
  font-weight: 100;
}

@media (max-width: 400px) {
  .github {
    text-align: center;
  }


}

button {
  outline: 0;
  border: 3px solid teal;
  background-color: teal;
  color: #fff;
  padding: .3em;
  text-transform: uppercase;
  cursor: pointer;
}

button:active {
  background-color: #fff;
  color: #000;
}

/* Table Styles */

.table-container {
  min-width: 300px;
  max-width: 700px;
  margin: 20px auto 0 auto;
}
table {
  width: 100%;
}

img {
  vertical-align: middle;
  margin-right: 10px;
}

td {
  border: 1px solid black;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: rgb(200, 200, 200);
}

.currentView  {
  color: rgb(36, 146, 166) !important;
}

/* default styles
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
